#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.axis-bottom-tick line {
  stroke: #ccc;
}

.axis-bottom-tick text {
  fill: #fff;
}

.axis-left-text {
  fill: #fff;
}

.marks-1 {
  fill: #8dd3c7
}

.axis-label {
  fill: #eee;
  font-size: 2em;
}

.line-mark {
  stroke: #8dd3c7;
  fill: none;
  stroke-width: 5;
}